/* <p></p> 사이에 낀 글자들만 색 바꾸기
    가로 500px 1pt 검은색 외곽선 박스 안에 들어가게 하기 (width, border)
    세미콜론으로 요소 구분!!
    여러 세트에 같은 것 적용
*/

@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* html {
    background-color: #91908f;
} */

body {
    font-family: 'Orbit-Regular';
    /* background-color: #c0bdbc; */
    /* width : 600px;
    margin : 20px auto;
    padding : 0 20px 20px 20px;
    border: 5px solid black; */
}

p,
li {
    color : #443f3c;
    /* width : 500px; 
    border : 1px solid black; */
}

img {
    max-width : 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

h1 {
    font-size: 50px;
    color:white;
    user-select: none;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)
}

h3 {
    color : #0d0d0c;
}
/* a 요소에서 마우스가 위에 있을 때! */
a:hover {
    color : lightsalmon;
    font-style: italic;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../images/lust.jpg);
    background-position: center center;
    background-size: cover;
}

.logo-img {
    position: relative;
}

.logo-img > img {
    position: relative;
    width: 7%;
    min-width: 100px;
    height: auto;
    top: 20px;
    left: 20px;
}